<%= form_with(model: accountjournal, local: true) do |form| %>
  <% if accountjournal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(accountjournal.errors.count, "error") %> prohibited this accountjournal from being saved:</h2>

      <ul>
      <% accountjournal.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :rkvouchercode %>
    <%= form.number_field :rkvouchercode, id: :accountjournal_rkvouchercode %>
  </div>

  <div class="field">
    <%= form.label :chartaccount_id %>
    <%= form.text_field :chartaccount_id, id: :accountjournal_chartaccount_id %>
  </div>

  <div class="field">
    <%= form.label :sale %>
    <%= form.text_field :sale, id: :accountjournal_sale %>
  </div>

  <div class="field">
    <%= form.label :rkvoucheramount %>
    <%= form.text_field :rkvoucheramount, id: :accountjournal_rkvoucheramount %>
  </div>

  <div class="field">
    <%= form.label :rkvoucherdescription %>
    <%= form.text_field :rkvoucherdescription, id: :accountjournal_rkvoucherdescription %>
  </div>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_field :text, id: :accountjournal_text %>
  </div>

  <div class="field">
    <%= form.label :rkvoucherdate %>
    <%= form.datetime_select :rkvoucherdate, id: :accountjournal_rkvoucherdate %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
