<p id="notice"><%= notice %></p>

<h1>Accountjournals</h1>

<table>
  <thead>
    <tr>
      <th>Rkvouchercode</th>
      <th>Chartaccount</th>
      <th>Sale</th>
      <th>Rkvoucheramount</th>
      <th>Rkvoucherdescription</th>
      <th>Text</th>
      <th>Rkvoucherdate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accountjournals.each do |accountjournal| %>
      <tr>
        <td><%= accountjournal.rkvouchercode %></td>
        <td><%= accountjournal.chartaccount %></td>
        <td><%= accountjournal.sale %></td>
        <td><%= accountjournal.rkvoucheramount %></td>
        <td><%= accountjournal.rkvoucherdescription %></td>
        <td><%= accountjournal.text %></td>
        <td><%= accountjournal.rkvoucherdate %></td>
        <td><%= link_to 'Show', accountjournal %></td>
        <td><%= link_to 'Edit', edit_accountjournal_path(accountjournal) %></td>
        <td><%= link_to 'Destroy', accountjournal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Accountjournal', new_accountjournal_path %>
