<%= form_with(model: employee, local: true) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :rkactive %>
    <%= form.check_box :rkactive, id: :employee_rkactive %>
  </div>

  <div class="field">
    <%= form.label :rkempcode %>
    <%= form.number_field :rkempcode, id: :employee_rkempcode %>
  </div>

  <div class="field">
    <%= form.label :rkempname %>
    <%= form.text_field :rkempname, id: :employee_rkempname %>
  </div>

  <div class="field">
    <%= form.label :rkempgender %>
    <%= form.text_field :rkempgender, id: :employee_rkempgender %>
  </div>

  <div class="field">
    <%= form.label :department_id %>
    <%= form.text_field :department_id, id: :employee_department_id %>
  </div>

  <div class="field">
    <%= form.label :rkhiredate %>
    <%= form.datetime_select :rkhiredate, id: :employee_rkhiredate %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
