<p id="notice"><%= notice %></p>

<p>
  <strong>Rkactive:</strong>
  <%= @employee.rkactive %>
</p>

<p>
  <strong>Rkempcode:</strong>
  <%= @employee.rkempcode %>
</p>

<p>
  <strong>Rkempname:</strong>
  <%= @employee.rkempname %>
</p>

<p>
  <strong>Rkempgender:</strong>
  <%= @employee.rkempgender %>
</p>

<p>
  <strong>Department:</strong>
  <%= @employee.department %>
</p>

<p>
  <strong>Rkhiredate:</strong>
  <%= @employee.rkhiredate %>
</p>

<%= link_to 'Edit', edit_employee_path(@employee) %> |
<%= link_to 'Back', employees_path %>
