<p id="notice"><%= notice %></p>

<p>
  <strong>Rkaccountcode:</strong>
  <%= @accountgroup.rkaccountcode %>
</p>

<p>
  <strong>Rkaccountname:</strong>
  <%= @accountgroup.rkaccountname %>
</p>

<p>
  <strong>Rkaccounttype:</strong>
  <%= @accountgroup.rkaccounttype %>
</p>

<%= link_to 'Edit', edit_accountgroup_path(@accountgroup) %> |
<%= link_to 'Back', accountgroups_path %>
