<p id="notice"><%= notice %></p>

<p>
  <strong>Chartaccount:</strong>
  <%= @productpurchasevat.chartaccount %>
</p>

<p>
  <strong>Supplier:</strong>
  <%= @productpurchasevat.supplier %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @productpurchasevat.employee %>
</p>

<p>
  <strong>Rkpurchaseinvoiceno:</strong>
  <%= @productpurchasevat.rkpurchaseinvoiceno %>
</p>

<p>
  <strong>Rkpurchasedate:</strong>
  <%= @productpurchasevat.rkpurchasedate %>
</p>

<p>
  <strong>Rkpurchaseduedate:</strong>
  <%= @productpurchasevat.rkpurchaseduedate %>
</p>

<p>
  <strong>Rktransportname:</strong>
  <%= @productpurchasevat.rktransportname %>
</p>

<p>
  <strong>Rkpurchasegrno:</strong>
  <%= @productpurchasevat.rkpurchasegrno %>
</p>

<p>
  <strong>Rkgoodsreceived:</strong>
  <%= @productpurchasevat.rkgoodsreceived %>
</p>

<p>
  <strong>Rkpurchasenocase:</strong>
  <%= @productpurchasevat.rkpurchasenocase %>
</p>

<p>
  <strong>Rkpurchaseccpercent:</strong>
  <%= @productpurchasevat.rkpurchaseccpercent %>
</p>

<p>
  <strong>Rkpurchasesubtotal:</strong>
  <%= @productpurchasevat.rkpurchasesubtotal %>
</p>

<p>
  <strong>Rkpurchasetotalcc:</strong>
  <%= @productpurchasevat.rkpurchasetotalcc %>
</p>

<p>
  <strong>Rkpurchaseccadded:</strong>
  <%= @productpurchasevat.rkpurchaseccadded %>
</p>

<p>
  <strong>Rkpurchasediscount:</strong>
  <%= @productpurchasevat.rkpurchasediscount %>
</p>

<p>
  <strong>Rkpurchaseshipping:</strong>
  <%= @productpurchasevat.rkpurchaseshipping %>
</p>

<p>
  <strong>Rkpurchasegrandtotal:</strong>
  <%= @productpurchasevat.rkpurchasegrandtotal %>
</p>

<p>
  <strong>Rkpurchaseinwords:</strong>
  <%= @productpurchasevat.rkpurchaseinwords %>
</p>

<p>
  <strong>Rkpurchaseunittotal:</strong>
  <%= @productpurchasevat.rkpurchaseunittotal %>
</p>

<p>
  <strong>Rkpurchasevatpercent:</strong>
  <%= @productpurchasevat.rkpurchasevatpercent %>
</p>

<%= link_to 'Edit', edit_productpurchasevat_path(@productpurchasevat) %> |
<%= link_to 'Back', productpurchasevats_path %>
