<p id="notice"><%= notice %></p>

<p>
  <strong>Rkproductcategorycode:</strong>
  <%= @productcategory.rkproductcategorycode %>
</p>

<p>
  <strong>Rkproductcategoryname:</strong>
  <%= @productcategory.rkproductcategoryname %>
</p>

<p>
  <strong>Chartaccount:</strong>
  <%= @productcategory.chartaccount %>
</p>

<%= link_to 'Edit', edit_productcategory_path(@productcategory) %> |
<%= link_to 'Back', productcategories_path %>
