<%= form_with(model: invoice_series, local: true) do |form| %>
  <% if invoice_series.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invoice_series.errors.count, "error") %> prohibited this invoice_series from being saved:</h2>

      <ul>
      <% invoice_series.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :rkseriesname %>
    <%= form.text_field :rkseriesname, id: :invoice_series_rkseriesname %>
  </div>

  <div class="field">
    <%= form.label :rkseriesvalue %>
    <%= form.text_field :rkseriesvalue, id: :invoice_series_rkseriesvalue %>
  </div>

  <div class="field">
    <%= form.label :rkseriesactive %>
    <%= form.check_box :rkseriesactive, id: :invoice_series_rkseriesactive %>
  </div>

  <div class="field">
    <%= form.label :rkseriesdefault %>
    <%= form.check_box :rkseriesdefault, id: :invoice_series_rkseriesdefault %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
