<h1>
  Invoice Series
</h1>
<%= form_tag("/invoice_series/set_default", method: "post") do %>

  <div class="table-responsive">
    <table class="table table-hover table-striped table-bordered">
      <thead>
        <th class="table-select text-nowrap">
        Default
        </th>
        <th>
Name
        </th>
        <th>
Value
        </th>
        <th>
Sarting Series
        </th>
        <th class="text-center">
Enabled
        </th>
      </thead>
      <tbody>
        <% @invoice_series.each do |series| %>
          <tr>
            <td class="table-select">
              <%= radio_button_tag 'default_series', series.id, checked=series.rkseriesdefault, {"data-role": "select-default"} %>
            </td>
            <td>
              <%= link_to series.rkseriesname, edit_invoice_series_path(series) %>
            </td>
            <td>
              <%= series.rkseriesvalue %>
            </td>
            <td>
              <%= series.rkfirst_number %>
            </td>
            <td class="text-center">
              <% if series.rkseriesactive %>
                <i class="material-icons green">done</i>
              <% else %>
                <i class="material-icons red">clear</i>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
