<p id="notice"><%= notice %></p>

<p>
  <strong>Rkseriesname:</strong>
  <%= @invoice_series.rkseriesname %>
</p>

<p>
  <strong>Rkseriesvalue:</strong>
  <%= @invoice_series.rkseriesvalue %>
</p>

<p>
  <strong>Rkseriesactive:</strong>
  <%= @invoice_series.rkseriesactive %>
</p>

<p>
  <strong>Rkseriesdefault:</strong>
  <%= @invoice_series.rkseriesdefault %>
</p>

<%= link_to 'Edit', edit_invoice_series_path(@invoice_series) %> |
<%= link_to 'Back', invoice_series_index_path %>
