<tr>
  <td><%= link_to user.email, user %></td>
  <td><%= link_to "Change Password",edit_user_registration_path %></td>
  <td>
    <%= form_with(model: user, local: true) do |f| %> <%= f.select(:role,
    User.roles.keys.map {|role| [role.titleize,role]}) %> <%= collection_select(
    :user, :company_id, Company.all, :id, :name, { :multiple => false,
    :class=>'form-control m-b' },{} ) %>
  </td>
  <td><%= f.submit 'Change Role', :class => 'button-xs' %> <% end %></td>
  <td>
    <%= link_to("Delete user", user_path(user), :data => { :confirm => "Are you
    sure?" }, :method => :delete, :class => 'button-xs') unless user ==
    current_user %>
  </td>
</tr>
