<%= form_with(model: taxrate, local: true) do |form| %>
  <% if taxrate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(taxrate.errors.count, "error") %> prohibited this taxrate from being saved:</h2>

      <ul>
      <% taxrate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :chartaccount_id %>
    <%= form.text_field :chartaccount_id, id: :taxrate_chartaccount_id %>
  </div>

  <div class="field">
    <%= form.label :rktaxtype %>
    <%= form.text_field :rktaxtype, id: :taxrate_rktaxtype %>
  </div>

  <div class="field">
    <%= form.label :rktaxname %>
    <%= form.text_field :rktaxname, id: :taxrate_rktaxname %>
  </div>

  <div class="field">
    <%= form.label :rktaxpercent %>
    <%= form.text_field :rktaxpercent, id: :taxrate_rktaxpercent %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
