<p id="notice"><%= notice %></p>

<p>
  <strong>Chartaccount:</strong>
  <%= @taxrate.chartaccount %>
</p>

<p>
  <strong>Rktaxtype:</strong>
  <%= @taxrate.rktaxtype %>
</p>

<p>
  <strong>Rktaxname:</strong>
  <%= @taxrate.rktaxname %>
</p>

<p>
  <strong>Rktaxpercent:</strong>
  <%= @taxrate.rktaxpercent %>
</p>

<%= link_to 'Edit', edit_taxrate_path(@taxrate) %> |
<%= link_to 'Back', taxrates_path %>
