<%= form_with(model: customer, local: true) do |form| %>
  <% if customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% customer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :rkcustomerstatus %>
    <%= form.check_box :rkcustomerstatus, id: :customer_rkcustomerstatus %>
  </div>

  <div class="field">
    <%= form.label :rkcustomername %>
    <%= form.text_field :rkcustomername, id: :customer_rkcustomername %>
  </div>

  <div class="field">
    <%= form.label :rkcustomertin %>
    <%= form.text_field :rkcustomertin, id: :customer_rkcustomertin %>
  </div>

  <div class="field">
    <%= form.label :rkcustomerpan %>
    <%= form.text_field :rkcustomerpan, id: :customer_rkcustomerpan %>
  </div>

  <div class="field">
    <%= form.label :rkcustomergstn %>
    <%= form.text_field :rkcustomergstn, id: :customer_rkcustomergstn %>
  </div>

  <div class="field">
    <%= form.label :rkcustomerddalic %>
    <%= form.text_field :rkcustomerddalic, id: :customer_rkcustomerddalic %>
  </div>

  <div class="field">
    <%= form.label :rkcustomerphone %>
    <%= form.text_field :rkcustomerphone, id: :customer_rkcustomerphone %>
  </div>

  <div class="field">
    <%= form.label :rkcustomeraddress %>
    <%= form.text_area :rkcustomeraddress, id: :customer_rkcustomeraddress %>
  </div>

  <div class="field">
    <%= form.label :rkcustomercity %>
    <%= form.text_field :rkcustomercity, id: :customer_rkcustomercity %>
  </div>

  <div class="field">
    <%= form.label :rkcustomerzone %>
    <%= form.text_field :rkcustomerzone, id: :customer_rkcustomerzone %>
  </div>

  <div class="field">
    <%= form.label :rkcustomerstate %>
    <%= form.text_field :rkcustomerstate, id: :customer_rkcustomerstate %>
  </div>

  <div class="field">
    <%= form.label :rkcustomerzipcode %>
    <%= form.text_field :rkcustomerzipcode, id: :customer_rkcustomerzipcode %>
  </div>

  <div class="field">
    <%= form.label :rkcustomercountry %>
    <%= form.text_field :rkcustomercountry, id: :customer_rkcustomercountry %>
  </div>

  <div class="field">
    <%= form.label :chartaccount_id %>
    <%= form.text_field :chartaccount_id, id: :customer_chartaccount_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
