<% content_for :title, "Edit Customer" %>
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5>Edit Customer</h5>
      <div class="ibox-tools">
        <a class="collapse-link">
          <i class="fa fa-chevron-up"></i>
        </a>
        <a class="close-link">
          <i class="fa fa-times"></i>
        </a>
      </div>
    </div>
    <div class="ibox-content">
      <div class="row">
        <%= form_for @customer do|f| %>
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-3">
              <div class="form-check">
                <%= f.check_box :rkcustomerstatus, id: :customer_rkcustomerstatus, :class=>"form-check-input" %>
                <label class="form-check-label">Active</label>
              </div>
            </div>
            <div class="col-sm-9">
              <div class="form-group">
                <label>Customer Name</label>
                <%= f.text_field :rkcustomername, :placeholder=>"Enter Customer Company Name", :class=>"form-control", :required=>'' %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>TIN</label>
                <%= f.text_field :rkcustomertin, :placeholder=>"Enter Customer TIN", :class=>"form-control", :required=>'' %>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>PAN</label>
                <%= f.text_field :rkcustomerpan, :placeholder=>"Enter Customer PAN", :class=>"form-control", :required=>'' %>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>GSTIN</label>
                <%= f.text_field :rkcustomergstn, :placeholder=>"Enter Customer GSTIN No.", :class=>"form-control", :required=>'' %>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Drug Licence</label>
                <%= f.text_field :rkcustomerddalic, :placeholder=>"Enter Customer Drug Licence", :class=>"form-control", :required=>'' %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>Phone</label>
                <%= f.text_field :rkcustomerphone, :placeholder=>"Enter Phone", :class=>"form-control", :required=>'' %>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Address</label>
                <%= f.text_field :rkcustomeraddress, :placeholder=>"Enter Address of Customer", :class=>"form-control", :required=>'' %>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>City</label>
                <%= f.text_field :rkcustomercity, :placeholder=>"Enter Customer City", :class=>"form-control", :required=>'' %>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Zone</label>
                <%= f.text_field :rkcustomerzone, :placeholder=>"Enter Customer Zone", :class=>"form-control", :required=>'' %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>State</label>
                <%= f.text_field :rkcustomerstate, :placeholder=>"Enter Customer State", :class=>"form-control", :required=>'' %>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>ZipCode/Pincode</label>
                <%= f.text_field :rkcustomerzipcode, :placeholder=>"Enter Customer Zipcode", :class=>"form-control", :required=>'' %>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>Country</label>
                <%= f.text_field :rkcustomercountry, :placeholder=>"Enter Customer Country", :class=>"form-control", :required=>'' %>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Chart Account</label>
                <%= collection_select( :customer, :chartaccount_id, Chartaccount.all, :id, :rkcoaname, {}, { :multiple => false, :class=>'form-control m-b' } ) %>  </div>
            </div>
          </div>
        </div>


        <div class="col-sm-12">
          <div class="hr-line-dashed"></div>
          <%= f.submit "Update Customer", :class=>"btn btn-sm btn-primary pull-right m-t-n-xs" %>
          <%= link_to 'Back', customers_path, :class=>"btn btn-sm btn-primary m-t-n-xs" %>
        </div>
        <div class="col-sm-12">
          <div class="hr-line-dashed"></div>

        </div>
      <% end %>
    </div>
  </div>
</div>
