<p id="notice"><%= notice %></p>

<p>
  <strong>Rkcustomerstatus:</strong>
  <%= @customer.rkcustomerstatus %>
</p>

<p>
  <strong>Rkcustomername:</strong>
  <%= @customer.rkcustomername %>
</p>

<p>
  <strong>Rkcustomertin:</strong>
  <%= @customer.rkcustomertin %>
</p>

<p>
  <strong>Rkcustomerpan:</strong>
  <%= @customer.rkcustomerpan %>
</p>

<p>
  <strong>Rkcustomergstn:</strong>
  <%= @customer.rkcustomergstn %>
</p>

<p>
  <strong>Rkcustomerddalic:</strong>
  <%= @customer.rkcustomerddalic %>
</p>

<p>
  <strong>Rkcustomerphone:</strong>
  <%= @customer.rkcustomerphone %>
</p>

<p>
  <strong>Rkcustomeraddress:</strong>
  <%= @customer.rkcustomeraddress %>
</p>

<p>
  <strong>Rkcustomercity:</strong>
  <%= @customer.rkcustomercity %>
</p>

<p>
  <strong>Rkcustomerzone:</strong>
  <%= @customer.rkcustomerzone %>
</p>

<p>
  <strong>Rkcustomerstate:</strong>
  <%= @customer.rkcustomerstate %>
</p>

<p>
  <strong>Rkcustomerzipcode:</strong>
  <%= @customer.rkcustomerzipcode %>
</p>

<p>
  <strong>Rkcustomercountry:</strong>
  <%= @customer.rkcustomercountry %>
</p>

<p>
  <strong>Chartaccount:</strong>
  <%= @customer.chartaccount %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
