<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox float-e-margins">
        <div class="ibox-content">
          <%= form_with(model: @productpurchasegst, local: true) do |f| %>
          <% if productpurchasegst.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(productpurchasegst.errors.count, "error") %>
                prohibited this productpurchasegst from being saved:</h2>
              <ul>
                <% productpurchasegst.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Account</label>
                  <%= collection_select( :productpurchasegst, :chartaccount_id, Chartaccount.all, :id, :rkcoaname, {}, { :multiple => false, :class=>'form-control m-b' } ) %>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Supplier Name</label>
                  <%= collection_select( :productpurchasegst, :supplier_id, Supplier.all, :id, :rksuppliername, {}, { :multiple => false, :class=>'form-control m-b' } ) %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Invoice No.</label>
                  <%= f.text_field :rkpurchaseinvoiceno, :placeholder=>"Enter Invoice No.", :class=>"form-control", :readonly=>'' %>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Purchase Date</label>
                  <%= f.date_field :rkpurchasedate, :placeholder=>"Enter Purchase Date", :class=>"form-control", :required=>'' %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Due Date</label>
                  <%= f.date_field :rkpurchaseduedate, :placeholder=>"Enter Due Date", :class=>"form-control", :required=>'' %>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Agent Name</label>
                  <%= collection_select( :productpurchasegst, :employee_id, Employee.all, :id, :rkempname, {}, { :multiple => false, :class=>'form-control m-b' } ) %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Transport Name</label>
                  <%= f.text_field :rktransportname, :placeholder=>"Enter Transport Name", :class=>"form-control", :required=>'' %>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label>GR No.</label>
                  <%= f.text_field :rkpurchasegrno, :placeholder=>"Enter Purchase GR No.", :class=>"form-control", :required=>'' %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <label>Receive Date</label>
                  <%= f.date_field :rkgoodsreceived, :placeholder=>"Enter Goods Received Date", :class=>"form-control", :required=>'' %>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <label>No. of Case</label>
                  <%= f.text_field :rkpurchasenocase, :placeholder=>"Enter No. of Case", :class=>"form-control", :required=>'' %>
                </div>
              </div>
            </div>
          </div>
          <table class="table table-bordered">
            <thead>
              <tr>
                <th>Product</th>
                <th>HSN</th>
                <th>Batch</th>
                <th>UOM</th>
                <th>Exp</th>
                <th>Rate</th>
                <th>Qty</th>
                <th>IGST</th>
                <th>CGST</th>
                <th>SGST</th>
                <th style="display:none">IGST val</th>
                <th style="display:none">CGST val</th>
                <th style="display:none">SGST val</th>
                <th>Amount</th>
              </tr>
            </thead>
            <tbody class='fields'>
              <%= f.fields_for :purchproditemgsts do |builder| %>
              <%= render 'purchproditemgst_fields', f: builder %>
            <% end %>
          </tbody>
          <tr>
            <td colspan="11">
<%= link_to_add_association 'Add Product', f, :purchproditemgsts, class: 'btn btn-primary', data: { association_insertion_node: '.fields', association_insertion_method: :append } %>

          </tr>
          <tr>
            <td colspan="1">
              <strong>Total IGST</strong>
            </td>
            <td><%= f.text_field :rkpurchasetotaligst, :class=>"form-control",:id=>"totaligst" ,:style=>"color: red" ,:readonly=>'' %></td>
            <td colspan="1">
              <strong>Total CGST</strong>
            </td>
            <td><%= f.text_field :rkpurchasetotalcgst, :class=>"form-control",:id=>"totalcgst" ,:style=>"color: red" ,:readonly=>'' %></td>
            <td colspan="1">
              <strong>Total SGST</strong>
            </td>
            <td><%= f.text_field :rkpurchasetotalsgst, :class=>"form-control",:id=>"totalsgst" ,:style=>"color: red" ,:readonly=>'' %></td>
            <td colspan="1">
              <strong>Discount</strong>
            </td>
            <td><%= f.text_field :rkpurchasediscount, :class=>"form-control",:id=>"discount" ,:style=>"color: red" %></td>
            <td colspan="2" class="text-right">
              <strong>Sub Total</strong>
            </td>
            <td><%= f.text_field :rkpurchasesubtotal, :class=>"form-control",:id=>"subtotal" ,:style=>"color: red" ,:readonly=>'' %></td>
          </tr>
          <tr>
            <td colspan="1">
              <strong>Total Quantity:
              </strong>
            </td>
            <td><%= f.text_field :rkpurchaseunittotal, :class=>"form-control",:id=>"totalQty" ,:style=>"color: red" ,:readonly=>'', :value=>"0" %></td>
            <td colspan="1">
              <strong>Shipping</strong>
            </td>
            <td><%= f.text_field :rkpurchaseshipping, :class=>"form-control",:id=>"shipping" ,:style=>"color: red" %></td>
            <td colspan="6" class="text-right">
              <strong>Grand Total</strong>
            </td>
            <td><%= f.text_field :rkpurchasegrandtotal, :class=>"form-control",:id=>"grandTotal" ,:style=>"color: red" ,:readonly=>'' %></td>
          </tr>
          <tr>
            <td colspan="11">
              <span id="wo">0</span></td>
          </tr>
        </table>
        <%= f.submit "Apply & Submit", :class=>"btn btn-sm btn-primary pull-right m-t-n-xs" %>
        <%= link_to 'Back', productpurchasegsts_path, :class=>"btn btn-sm btn-primary m-t-n-xs" %>
      <% end %>
    </div>
  </div>
</div>
</div>
</div>
<script>
  jQuery(document).ready(function () {
    // $('.nested-fields')
    // .on('cocoon:after-remove', function() {
    //         // inv.init();
    //         jQuery().invoicegst()
    // });
    jQuery().invoicegst({
      //addRow : ".addRow",
    //  remove_record: ".remove_record",
      parentClass: ".nested-fields",
      fields: ".fields",
      //parentClass: ".add_fields",
    //  hidden_box: ".hidden_box",
      batch: ".batch",
      price: ".price",
      qty: ".qty",
      igst: ".igst",
      cgst: ".cgst",
      sgst: ".sgst",
      total: ".total",
      subigst: ".subigst",
      subcgst: ".subcgst",
      subsgst: ".subsgst",
      totaligst: "#totaligst",
      totalcgst: "#totalcgst",
      totalsgst: "#totalsgst",
      totalQty: "#totalQty",
      subtotal: "#subtotal",
      discount: "#discount",
      shipping: "#shipping",
      grandTotal: "#grandTotal",
      billAmount: '#billAmount',
      //wo:"#wo"
    });
  });
</script>
