<p id="notice"><%= notice %></p>

<p>
  <strong>Chartaccount:</strong>
  <%= @productpurchasegst.chartaccount %>
</p>

<p>
  <strong>Supplier:</strong>
  <%= @productpurchasegst.supplier %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @productpurchasegst.employee %>
</p>

<p>
  <strong>Rkpurchaseinvoiceno:</strong>
  <%= @productpurchasegst.rkpurchaseinvoiceno %>
</p>

<p>
  <strong>Rkpurchasedate:</strong>
  <%= @productpurchasegst.rkpurchasedate %>
</p>

<p>
  <strong>Rkpurchaseduedate:</strong>
  <%= @productpurchasegst.rkpurchaseduedate %>
</p>

<p>
  <strong>Rktransportname:</strong>
  <%= @productpurchasegst.rktransportname %>
</p>

<p>
  <strong>Rkpurchasegrno:</strong>
  <%= @productpurchasegst.rkpurchasegrno %>
</p>

<p>
  <strong>Rkgoodsreceived:</strong>
  <%= @productpurchasegst.rkgoodsreceived %>
</p>

<p>
  <strong>Rkpurchasenocase:</strong>
  <%= @productpurchasegst.rkpurchasenocase %>
</p>

<p>
  <strong>Rkpurchasesubtotal:</strong>
  <%= @productpurchasegst.rkpurchasesubtotal %>
</p>

<p>
  <strong>Rkpurchasetotaligst:</strong>
  <%= @productpurchasegst.rkpurchasetotaligst %>
</p>

<p>
  <strong>Rkpurchasetotalcgst:</strong>
  <%= @productpurchasegst.rkpurchasetotalcgst %>
</p>

<p>
  <strong>Rkpurchasetotalsgst:</strong>
  <%= @productpurchasegst.rkpurchasetotalsgst %>
</p>

<p>
  <strong>Rkpurchasediscount:</strong>
  <%= @productpurchasegst.rkpurchasediscount %>
</p>

<p>
  <strong>Rkpurchaseshipping:</strong>
  <%= @productpurchasegst.rkpurchaseshipping %>
</p>

<p>
  <strong>Rkpurchasegrandtotal:</strong>
  <%= @productpurchasegst.rkpurchasegrandtotal %>
</p>

<p>
  <strong>Rkpurchaseinwords:</strong>
  <%= @productpurchasegst.rkpurchaseinwords %>
</p>

<p>
  <strong>Rkpurchaseunittotal:</strong>
  <%= @productpurchasegst.rkpurchaseunittotal %>
</p>

<%= link_to 'Edit', edit_productpurchasegst_path(@productpurchasegst) %> |
<%= link_to 'Back', productpurchasegsts_path %>
