<%= form_with(model: order, local: true) do |form| %>
  <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :order_name %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :order_phone %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_area :address, id: :order_address %>
  </div>

  <div class="field">
    <%= form.label :delivery_date %>
    <%= form.date_select :delivery_date, id: :order_delivery_date %>
  </div>

  <div class="field">
    <%= form.label :product_id %>
    <%= form.text_area :product_id, id: :order_product_id %>
  </div>

  <div class="field">
    <%= form.label :payment_option %>
    <%= form.text_field :payment_option, id: :order_payment_option %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount, id: :order_amount %>
  </div>

  <div class="field">
    <%= form.label :order_status %>
    <%= form.text_field :order_status, id: :order_order_status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
