<%= form_with(model: accountgroup, local: true) do |form| %>
  <% if accountgroup.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(accountgroup.errors.count, "error") %> prohibited this accountgroup from being saved:</h2>

      <ul>
      <% accountgroup.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :rkaccountcode %>
    <%= form.number_field :rkaccountcode, id: :accountgroup_rkaccountcode %>
  </div>

  <div class="field">
    <%= form.label :rkaccountname %>
    <%= form.text_field :rkaccountname, id: :accountgroup_rkaccountname %>
  </div>

  <div class="field">
    <%= form.label :rkaccounttype %>
    <%= form.text_field :rkaccounttype, id: :accountgroup_rkaccounttype %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
