<%= form_with(model: department, local: true) do |form| %>
  <% if department.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(department.errors.count, "error") %> prohibited this department from being saved:</h2>

      <ul>
      <% department.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :rkactive %>
    <%= form.check_box :rkactive, id: :department_rkactive %>
  </div>

  <div class="field">
    <%= form.label :rkdeptcode %>
    <%= form.number_field :rkdeptcode, id: :department_rkdeptcode %>
  </div>

  <div class="field">
    <%= form.label :rkdeptname %>
    <%= form.text_field :rkdeptname, id: :department_rkdeptname %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
