<% content_for :title, "Edit Batch" %>
  <div class="ibox float-e-margins">
    <div class="ibox-title">
      <h5>Edit Batch</h5>
      <div class="ibox-tools">
        <a class="collapse-link">
          <i class="fa fa-chevron-up"></i>
        </a>
        <a class="close-link">
          <i class="fa fa-times"></i>
        </a>
      </div>
    </div>
    <div class="ibox-content">
      <div class="row">
        <%= form_for @batch do|f| %>
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-3">
              <div class="form-check">
                <%= f.check_box :rkbatchstatus, id: :batch_rkbatchstatus, :class=>"form-check-input" %>
                <label class="form-check-label">Active</label>
              </div>
            </div>
            <div class="col-sm-9">
              <div class="form-group">
                <label>Batch No.</label>
                <%= f.text_field :rkbatchno, :placeholder=>"Enter Product Batch No.", :class=>"form-control", :required=>'' %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>Prodcut</label>
                  <%= collection_select(:batch, :product_id, Product.all, :id, :rkproductname, {}, { :multiple => false, :class=>'form-control m-b' } ) %>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Stock</label>
                <%= f.text_field :rkbatchstock, :placeholder=>"Enter Quantity", :class=>"form-control", :required=>'' %>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>Packing</label>
                <%= f.select :rkbatchpacking, options_for_select(['PH', 'Box', 'Strip']), {}, {:class=>'form-control m-b', :required=>''} %>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Purchase Rate</label>
                <%= f.text_field :rkbatchpurchaserate, :placeholder=>"Enter Purchase Rate", :class=>"form-control", :required=>'' %>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>Sales Rate</label>
                <%= f.text_field :rkbatchsalerate, :placeholder=>"Enter Sale Rate", :class=>"form-control", :required=>'' %>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>WholeSale Rate</label>
                <%= f.text_field :rkbatchwholesalerate, :placeholder=>"Enter WholeSale Rate", :class=>"form-control", :required=>'' %>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group">
                <label>MRP</label>
                <%= f.text_field :rkbatchmrp, :placeholder=>"Enter MRP", :class=>"form-control", :required=>'' %>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label>Expiry</label>
                <%= f.date_select :rkbatchexpiry,discard_day: true, :class=>'form-control', :required=>'' %>
                </div>
            </div>
          </div>
        </div>



        <div class="col-sm-12">
          <div class="hr-line-dashed"></div>
          <%= f.submit "Update Batch", :class=>"btn btn-sm btn-primary pull-right m-t-n-xs" %>
          <%= link_to 'Back', batches_path, :class=>"btn btn-sm btn-primary m-t-n-xs" %>
        </div>
        <div class="col-sm-12">
          <div class="hr-line-dashed"></div>

        </div>
      <% end %>
    </div>
  </div>
</div>
