<p id="notice"><%= notice %></p>

<p>
  <strong>Rkbatchstatus:</strong>
  <%= @batch.rkbatchstatus %>
</p>

<p>
  <strong>Rkbatchno:</strong>
  <%= @batch.rkbatchno %>
</p>

<p>
  <strong>Product:</strong>
  <%= @batch.product %>
</p>

<p>
  <strong>Rkbatchstock:</strong>
  <%= @batch.rkbatchstock %>
</p>

<p>
  <strong>Rkbatchpacking:</strong>
  <%= @batch.rkbatchpacking %>
</p>

<p>
  <strong>Rkbatchpurchaserate:</strong>
  <%= @batch.rkbatchpurchaserate %>
</p>

<p>
  <strong>Rkbatchsalerate:</strong>
  <%= @batch.rkbatchsalerate %>
</p>

<p>
  <strong>Rkbatchwholesalerate:</strong>
  <%= @batch.rkbatchwholesalerate %>
</p>

<p>
  <strong>Rkbatchexpiry:</strong>
  <%= @batch.rkbatchexpiry %>
</p>

<p>
  <strong>Rkbatchmrp:</strong>
  <%= @batch.rkbatchmrp %>
</p>

<%= link_to 'Edit', edit_batch_path(@batch) %> |
<%= link_to 'Back', batches_path %>
