<p id="notice"><%= notice %></p>

<p>
  <strong>Rkproductstatus:</strong>
  <%= @product.rkproductstatus %>
</p>

<p>
  <strong>Rkproductname:</strong>
  <%= @product.rkproductname %>
</p>

<p>
  <strong>Rkproductdescription:</strong>
  <%= @product.rkproductdescription %>
</p>

<p>
  <strong>Supplier:</strong>
  <%= @product.supplier %>
</p>

<p>
  <strong>Productcategory:</strong>
  <%= @product.productcategory %>
</p>

<p>
  <strong>Chartaccount:</strong>
  <%= @product.chartaccount %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
