<% content_for :title, "All Suppliers" %>
<div class="fixed-action-btn " style="bottom: 50px; right: 19px;">
   <%= link_to new_supplier_path do %>
  <span class="fa fa-plus-circle fa-4x"></span>
   <% end %>


</div>
<div class="row">
  <div class="col-lg-12">
    <div class="ibox float-e-margins">
      <div class="ibox-title">
        <h5>All Suppliers Data</h5>
        <div class="ibox-tools">
          <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
          </a>
          <a class="close-link">
            <i class="fa fa-times"></i>
          </a>
        </div>
      </div>
      <div class="ibox-content">

        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover dataTables-example">
            <thead>
              <tr>
                <th>Active</th>
                <th>Name</th>
                <th>Tin</th>
                <th>Pan</th>
                <th>GSTIN</th>
                <th>DDlic</th>
                <th>Phone</th>
                <th>Address</th>
                <th>City</th>
                <th>Zone</th>
                <th>State</th>
                <th>Zipcode</th>
                <th>Country</th>
                <th>Account</th>
                <th width="101px">Buttons</th>
              </tr>
            </thead>

            <tbody>

            <% @suppliers.each do |f| %>

              <tr class="">
                <td><%= f.rksupplierstatus %></td>
                <td><%= f.rksuppliername %></td>
                <td><%= f.rksuppliertin  %></td>
                <td><%= f.rksupplierpan %></td>
                <td><%= f.rksuppliergstn %></td>
                <td><%= f.rksupplierddalic %></td>
                <td><%= f.rksupplierphone %></td>
                <td><%= f.rksupplieraddress %></td>
                <td><%= f.rksuppliercity %></td>
                <td><%= f.rksupplierzone %></td>
                <td><%= f.rksupplierstate %></td>
                <td><%= f.rksupplierzipcode %></td>
                <td><%= f.rksuppliercountry %></td>
                <td><%= f.chartaccount.rkcoaname %></td>
                <td>
                  <%= link_to supplier_path(f.id), :class=>'btn btn-white btn-bitbucket', method: :delete, data: {confirm: 'Are you sure?'} do %>
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                  <% end %>
                  <%= link_to edit_supplier_path(f.id), :class=>'btn btn-white btn-bitbucket' do %>
                      <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  <% end %>
                  <%= link_to supplier_path(f.id), :class=>'btn btn-white btn-bitbucket' do %>
                      <i class="fa fa-print" aria-hidden="true"></i>
                  <% end %>
                </td>
              </tr>

            <% end %>

            </tbody>


          </table>
        </div>

      </div>
    </div>
  </div>
</div>
