<p id="notice"><%= notice %></p>

<p>
  <strong>Rksupplierstatus:</strong>
  <%= @supplier.rksupplierstatus %>
</p>

<p>
  <strong>Rksuppliername:</strong>
  <%= @supplier.rksuppliername %>
</p>

<p>
  <strong>Rksuppliertin:</strong>
  <%= @supplier.rksuppliertin %>
</p>

<p>
  <strong>Rksupplierpan:</strong>
  <%= @supplier.rksupplierpan %>
</p>

<p>
  <strong>Rksuppliergstn:</strong>
  <%= @supplier.rksuppliergstn %>
</p>

<p>
  <strong>Rksupplierddalic:</strong>
  <%= @supplier.rksupplierddalic %>
</p>

<p>
  <strong>Rksupplierphone:</strong>
  <%= @supplier.rksupplierphone %>
</p>

<p>
  <strong>Rksupplieraddress:</strong>
  <%= @supplier.rksupplieraddress %>
</p>

<p>
  <strong>Rksuppliercity:</strong>
  <%= @supplier.rksuppliercity %>
</p>

<p>
  <strong>Rksupplierzone:</strong>
  <%= @supplier.rksupplierzone %>
</p>

<p>
  <strong>Rksupplierstate:</strong>
  <%= @supplier.rksupplierstate %>
</p>

<p>
  <strong>Rksupplierzipcode:</strong>
  <%= @supplier.rksupplierzipcode %>
</p>

<p>
  <strong>Rksuppliercountry:</strong>
  <%= @supplier.rksuppliercountry %>
</p>

<p>
  <strong>Chartaccount:</strong>
  <%= @supplier.chartaccount %>
</p>

<%= link_to 'Edit', edit_supplier_path(@supplier) %> |
<%= link_to 'Back', suppliers_path %>
