<%= form_with(model: sale, local: true) do |form| %>
  <% if sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
      <% sale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :rksaleinvoice %>
    <%= form.text_field :rksaleinvoice, id: :sale_rksaleinvoice %>
  </div>

  <div class="field">
    <%= form.label :rksaledate %>
    <%= form.date_select :rksaledate, id: :sale_rksaledate %>
  </div>

  <div class="field">
    <%= form.label :rksaleduedate %>
    <%= form.date_select :rksaleduedate, id: :sale_rksaleduedate %>
  </div>

  <div class="field">
    <%= form.label :customer_id %>
    <%= form.text_field :customer_id, id: :sale_customer_id %>
  </div>

  <div class="field">
    <%= form.label :product_id %>
    <%= form.text_field :product_id, id: :sale_product_id %>
  </div>

  <div class="field">
    <%= form.label :employee_id %>
    <%= form.text_field :employee_id, id: :sale_employee_id %>
  </div>

  <div class="field">
    <%= form.label :accountjournal_id %>
    <%= form.text_field :accountjournal_id, id: :sale_accountjournal_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
