<p id="notice"><%= notice %></p>

<p>
  <strong>Rkcoacode:</strong>
  <%= @chartaccount.rkcoacode %>
</p>

<p>
  <strong>Rkcoaname:</strong>
  <%= @chartaccount.rkcoaname %>
</p>

<p>
  <strong>Accountgroup:</strong>
  <%= @chartaccount.accountgroup %>
</p>

<%= link_to 'Edit', edit_chartaccount_path(@chartaccount) %> |
<%= link_to 'Back', chartaccounts_path %>
